/*style from block4 */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Regular.woff") format("woff");
}
body{
  font-family:"TT Lakes", sans-serif;
  line-height:20px;
  font-size: 14px;
  padding:0;
  margin:0;
  background:#F2F2F2;
  color:#1B1C21;
}
.btn{
  background-color:transparent;
  border:none;
  cursor:pointer;
  margin:0;/*нет в блоке 4*/
  padding:0;/*нет в блоке 4*/
}
.circle{
  width:40px;
  height:40px;
  vertical-align:middle;
  border-radius:50%;
  display:inline-block;
  background-color:#FF3E79;
}

/*style block5*/

.menu{
  width:320px;
  background:#FFFFFF;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  height:98vh;
  min-height:800px;
}
.menu-header{
  padding-top:20px;
  margin-bottom:57px;
  display:flex;
  justify-content:space-around;
}
.btn__close{
  background-image: url("../img/burger.png");
  background-repeat:no-repeat;
  background-position:center;
}
.btn__find{
  background-image: url("../img/search.png");
  background-repeat:no-repeat;
  background-position:center;
}
.logo{
  width:97px;
  height:51px;
}

.menu-wrapper{
  display:flex;
  flex-wrap:wrap;
  max-height:900px;
  height:80%;
}
.menu-main{
  align-self:flex-start;
}
.menu-footer{
  padding-left:25px;
  align-self:flex-end;
}
.menu-main-list{
  list-style:none;
  padding:0;
  margin:0;
}
.menu-main__item{
  padding-left:24px;
  margin-bottom:32px;
}
.active-border{
  border-left:4px solid #41F6D7;
  color: #7E7E82;
}
.active{
  color: #7E7E82;
}



.menu-contact{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-height:120px;
}
.menu-footer-btn{
  margin-bottom:15px;
}
.btn__call{
  background-image: url("../img/call.png");
  background-repeat:no-repeat;
  background-position:center;
}
.btn__chat{
  background-image: url("../img/chat.png");
  background-repeat:no-repeat;
  background-position:center;
}
.btn__profile{
  background-image: url("../img/profile.png");
  background-repeat:no-repeat;
  background-position:center;
}

.menu-mail{
  text-decoration: none;
  color:#1B1C21;
}
.menu-phone{
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight:bold;
  margin-top:12px;
  text-decoration: none;
  color:#1B1C21;
}
.animate-btn:hover,.animate-btn:focus{
  transition: filter 0.9s ;
  filter:opacity(0.5);
}
.margin-right{
  margin-right:8px;
}
.menu-lang{
  margin-top:40px;
}